<div class="container">
    <form class="bg-light p-4 shadow">
        <div class="form-group">
            <label for="">Account</label>
            <input type="text" class="form-control" id="account">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control" id="Password">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="PassNameword">
        </div>

        <div class="form-group">
            <div>Gender</div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="1">
                <label class="form-check-label" for="">男</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="2">
                <label class="form-check-label" for="">女</label>
            </div>
        </div>

        <div class="form-group">
            <label for="">Birthday</label>
            <input type="text" class="form-control" id="Birthday">
        </div>

        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" value="" id="subscription">
            <label class="form-check-label" for="">訂閱廣告</label>
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" id="Email">
        </div>
        <button class="btn btn-success">Create</button>
    </form>
</div>